<p>bus works!</p>

  
      <div *ngIf="seats && seats.length > 0">
        <h2>Please Select Your Seats</h2>
        <div class="seat-container">
          <div *ngFor="let seat of seats" class="seat" (click)="selectSeat(seat)">
            <input type="checkbox" id="{{ seat }}" [value]="seat" />
            <label for="{{ seat }}" class="seat-label">{{ seat }}</label>
          </div>
        </div>
        <button class="book-button" (click)="calculateTotalAmount()">Book</button>   
      </div>
      <button class="payment-button" (click)="processPayment()" [disabled]="selectedSeats.length === 0">Make Payment</button>



     


      <div *ngIf="selectedSeats.length > 0">
        <h3>Selected Seats:</h3>
        <ul>
          <li *ngFor="let seat of selectedSeats">{{ seat }}</li>
        </ul>
      </div>
      
      
        <h3>Total Amount:</h3>
        <p>{{ totalAmount | json }}</p>
     
   
  <!-- {{bus | json}} -->
  